<div class="example-button-row">
    <button mat-raised-button color="primary"  (click)="openDialog()">Open</button>
<mat-spinner *ngIf="spiner" [diameter]="'50'"></mat-spinner>


</div>
<div class="mat-elevation-z8">
<table mat-table [dataSource]="dataSource"  >
  <ng-container matColumnDef="ID">
    <th mat-header-cell *matHeaderCellDef > ID </th>
    <td mat-cell *matCellDef="let i=index"> {{(i+1)  + (paginator.pageIndex * paginator.pageSize)}} </td>
  </ng-container>
  <ng-container matColumnDef="Name">
    <th mat-header-cell *matHeaderCellDef > Name </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>
  <ng-container matColumnDef="Message">
    <th mat-header-cell *matHeaderCellDef > Message </th>
    <td mat-cell *matCellDef="let element" (click)="openMsgDialog(element.message)"> {{(element.message.length>100)? (element.message | slice:0:100)+'...':(element.message) }} </td>
  </ng-container>
  <ng-container matColumnDef="Date">
    <th mat-header-cell *matHeaderCellDef r> Date </th>
    <td mat-cell *matCellDef="let element"> {{element.createdAt?.toDate()  | date: 'yyyy/MM/dd'}} </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-paginator
showFirstLastButtons
#paginator 
(page)="pageEvent = $event"  
[length]="total" 
[pageSize]="4"
[pageSizeOptions]="[5, 10, 50, total]"
aria-label="Select page">
</mat-paginator>
</div>



